.App {
  text-align: center;
}

.app-content {
  background-color: rgb(5, 126, 126);
}

.app-content p {
  color: white;
}

.option-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

.sep {
  margin-left: 5px;
  margin-right: 5px;
} 

.option-btn {
  color: blue;
}

.option-btn:hover {
  cursor: pointer;
  color: rgb(115, 115, 241);
}

.edit-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.edit-bg {
  background-color: rgba(0, 0, 0, 0.788);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.edit-content {
  position: relative;

}

.edit-container form {
  height: 100px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.edit-header {
  color: white;
  font-size: 22px;
  font-weight: bold;
  /* background-color: aqua; */
  padding: 0;
  margin: 0;
}

.edit-container input {
  margin-top: 10px;
}

.edit-container button {
  margin-top: 10px;
}
